@@ -1,54 +0,0 @@
# (WebServer)
WebServer/bin/
WebServer/obj/
WebServer/.vs/
WebServer/*.csproj.user

# Unity 
HamsterCoinC/[Ll]ibrary/
HamsterCoinC/[Tt]emp/
HamsterCoinC/[Oo]bj/
HamsterCoinC/[Bb]uild/
HamsterCoinC/[Bb]uilds/
HamsterCoinC/[Ll]ogs/
HamsterCoinC/[Uu]ser[Ss]ettings/
HamsterCoinC/[Mm]emoryCaptures/

# Unity
HamsterCoinC/ExportedObj/
HamsterCoinC/.consulo/
HamsterCoinC/*.csproj
HamsterCoinC/*.unityproj
HamsterCoinC/*.sln
HamsterCoinC/*.suo
HamsterCoinC/*.tmp
HamsterCoinC/*.user
HamsterCoinC/*.userprefs
HamsterCoinC/*.pidb
HamsterCoinC/*.booproj
HamsterCoinC/*.svd
HamsterCoinC/*.pdb
HamsterCoinC/*.mdb
HamsterCoinC/*.opendb
HamsterCoinC/*.VC.db

# IDE
.vs/
*.csproj.user
*.suo
*.tmp
*.log
*.tlog
*.scc
*.pdb
*.pidb
*.svclog
*.builds

# Gradle (Android)
.gradle/

# Rider
.idea/
.vs/slnx.sqlite

#I beg you, delete the fucking project with the tests. 
#I have no idea how to stop tracking these folders that have already been added 
#to the remote repository on github. It's 10:53 PM 12.06.2025 and I want to sleep. - AndriiDumi
/MyApi.Tests/obj
/MyApi.Tests/bin
